<form (ngSubmit)="sign(f)" #f="ngForm">
  <mat-form-field>
    <input matInput placeholder="Usuario/Login" [(ngModel)]="login.usuario" name="usuario" #usuario="ngModel" required>
    <mat-hint>Usuario padrão: adm</mat-hint>
    <mat-error *ngIf="!usuario.valid && usuario.touched">O usuario é necessario</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Senha/Password" [(ngModel)]="login.senha" name="senha" #senha="ngModel" required>
    <mat-hint>Senha padrão: adm</mat-hint>
    <mat-error *ngIf="!senha.valid && senha.touched">O senha é necessario</mat-error>
  </mat-form-field>
  <button class="max-button" mat-raised-button type="submit" color="primary" [disabled]="!f.valid">Salvar</button>
</form>
