<form (ngSubmit)="salvar()">
  <div class="container-form">
    <mat-form-field>
      <input matInput placeholder="Nome" [(ngModel)]="proprietario.nome" name="nome">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CPF" [(ngModel)]="proprietario.cpf" name="cpf">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="RG" [(ngModel)]="proprietario.rg" name="rg">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Celular" [(ngModel)]="proprietario.celular" name="celular">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Contato residencial" [(ngModel)]="proprietario.residencial" name="residencial">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Data de Nascimento" [(ngModel)]="proprietario.dtNascimento" name="dtNascimento">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Sexo" [(ngModel)]="proprietario.sexo" name="sexo">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Numero da Casa" [(ngModel)]="proprietario.numCasa" name="numCasa">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Cidade" [(ngModel)]="proprietario.cidade" name="cidade">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Bairro" [(ngModel)]="proprietario.bairro" name="bairro">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CEP" [(ngModel)]="proprietario.cep" name="cep">
    </mat-form-field>
  </div>
  <button class="max-button" mat-raised-button type="submit" color="primary">Salvar</button>
  <button class="max-button" *ngIf="proprietario.id" mat-raised-button type="button" (click)="excluir()" color="primary">Excluir</button>
</form>