<section>
  <mat-accordion *ngIf="loginService.isProprietario() || loginService.isMedico() || loginService.isRecepcionista()">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Quantidade de Consultas para os Proximos dias
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <h3 mat-subheader>Consultas</h3>
        <ngx-charts-bar-vertical
          [view]="[width - 100, 200]"
          [scheme]="colorScheme"
          [results]="countConsultaProximosDias"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion *ngIf="loginService.isProprietario() || loginService.isMedico() || loginService.isRecepcionista()">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Procurar Consultar pelo periodo
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()" style="width: 100%;">
          <mat-form-field>
            <input matInput [matDatepicker]="dtConsultaIni" placeholder="Inicio do Periodo" formControlName="dtConsultaIni">
            <mat-datepicker-toggle matSuffix [for]="dtConsultaIni"></mat-datepicker-toggle>
            <mat-datepicker #dtConsultaIni></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="dtConsultaFim" placeholder="Fim do Periodo" formControlName="dtConsultaFim">
            <mat-datepicker-toggle matSuffix [for]="dtConsultaFim"></mat-datepicker-toggle>
            <mat-datepicker #dtConsultaFim></mat-datepicker>
          </mat-form-field>
          <button mat-raised-button type="submit">Pesquisar</button>
          <table mat-table [dataSource]="consultas" style="width: 100%;" multiTemplateDataRows>
            <!-- <ng-container matColumnDef="Nome Medico">
              <th mat-header-cell *matHeaderCellDef> Nome Medico </th>
              <td mat-cell *matCellDef="let element"> {{element.medico.nome}} </td>
            </ng-container>
            <ng-container matColumnDef="Nome Paciente">
              <th mat-header-cell *matHeaderCellDef> Nome Paciente </th>
              <td mat-cell *matCellDef="let element"> {{element.paciente.nome}} </td>
            </ng-container> -->
              <ng-container matColumnDef="Data Consulta">
                <th mat-header-cell *matHeaderCellDef> Data Consulta </th>
                <td mat-cell *matCellDef="let element"> {{element.dtConsulta}} </td>
              </ng-container>
              <ng-container matColumnDef="Data Retorno">
                <th mat-header-cell *matHeaderCellDef> Data Retorno </th>
                <td mat-cell *matCellDef="let element"> {{element.dtRetorno}} </td>
              </ng-container>
              <ng-container matColumnDef="Tratamento">
                <th mat-header-cell *matHeaderCellDef> Tratamento </th>
                <td mat-cell *matCellDef="let element"> {{element.tratamento}} </td>
              </ng-container>
              <ng-container matColumnDef="Exame">
                <th mat-header-cell *matHeaderCellDef> Exame </th>
                <td mat-cell *matCellDef="let element"> {{element.exame}} </td>
              </ng-container>
              <ng-container matColumnDef="Sintomas">
                <th mat-header-cell *matHeaderCellDef> Sintomas </th>
                <td mat-cell *matCellDef="let element"> {{element.sintomas}} </td>
              </ng-container>
              <ng-container matColumnDef="Realizada">
                <th mat-header-cell *matHeaderCellDef> Feita? </th>
                <td mat-cell *matCellDef="let element"> {{element.realizada}} </td>
              </ng-container>
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                  <div class="element-detail"
                       [@detailExpand]="element.id == consulta.id ? 'expanded' : 'collapsed'" style="overflow: hidden;">
                       <app-consulta-edit (salvouConsulta)="atualizarTabela()" ></app-consulta-edit>
                    </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                  class="element-row"
                  [class.expanded-row]="consulta.id === element.id"
                  (click)="consulta.id = consulta.id === element.id ? null : element.id" 
                  [routerLink]="['edit']" [queryParams]="{id: element.id}"
                  matTooltip="Clique para editar e ver mais detalhes" [matTooltipPosition]="'below'">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
            </table>
            <a mat-raised-button (click)="gerarRelatorio()" color="primary">Gerar Relatorio</a>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</section>