<form (ngSubmit)="salvar()">
  <div class="container-form">
    <mat-form-field>
      <input matInput placeholder="Nome" [(ngModel)]="medico.nome" name="nome">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CPF" [(ngModel)]="medico.cpf" name="cpf">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="RG" [(ngModel)]="medico.rg" name="rg">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Celular" [(ngModel)]="medico.celular" name="celular">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Contato residencial" [(ngModel)]="medico.residencial" name="residencial">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Data de Nascimento" [(ngModel)]="medico.dtNascimento" name="dtNascimento">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Sexo" [(ngModel)]="medico.sexo" name="sexo">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Numero da Casa" [(ngModel)]="medico.numCasa" name="numCasa">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Cidade" [(ngModel)]="medico.cidade" name="cidade">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Bairro" [(ngModel)]="medico.bairro" name="bairro">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CEP" [(ngModel)]="medico.cep" name="cep">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CRM" [(ngModel)]="medico.idCrm" name="idCrm">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Especialidade" [(ngModel)]="medico.especialidade" name="especialidade">
    </mat-form-field>
  </div>
  <button class="max-button" mat-raised-button type="submit" color="primary">Salvar</button>
  <button class="max-button" *ngIf="medico.id" mat-raised-button type="button" (click)="excluir()" color="primary">Excluir</button>
</form>