/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }


.container-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2%;
}
.max-button {
    width: 100%;
}

.button-container{
    grid-column: 2/3;
}

@media only screen and (max-width: 770px) {
    .container-form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0%;
    }
    .button-container{
        grid-column: 1/1;
    }
}
