<form (ngSubmit)="salvar(f)" #f="ngForm">
  <div class="container-form">
    <mat-form-field>
      <input matInput placeholder="Nome" [(ngModel)]="recepcionista.nome" name="nome" #nome="ngModel" required>
      <mat-error *ngIf="!nome.valid && nome.touched">O nome é necessario</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CPF" [(ngModel)]="recepcionista.cpf" name="cpf" #cpf="ngModel" required>
      <mat-error *ngIf="!cpf.valid && cpf.touched">O cpf é necessario</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="RG" [(ngModel)]="recepcionista.rg" name="rg" #rg="ngModel" required>
      <mat-error *ngIf="!rg.valid && rg.touched">O rg é necessario</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Celular" [(ngModel)]="recepcionista.celular" name="celular" #celular="ngModel">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Contato residencial" [(ngModel)]="recepcionista.residencial" name="residencial" #residencial="ngModel">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="dtNascimento" placeholder="Data de Nascimento" [(ngModel)]="recepcionista.dtNascimento" name="dtNascimento" #dtNascimento="ngModel">
      <mat-datepicker-toggle matSuffix [for]="dtNascimento"></mat-datepicker-toggle>
      <mat-datepicker #dtNascimento></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Sexo" [(ngModel)]="recepcionista.sexo" name="sexo" #sexo="ngModel">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Numero da Casa" [(ngModel)]="recepcionista.numCasa" name="numCasa" #numCasa="ngModel">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Cidade" [(ngModel)]="recepcionista.cidade" name="cidade" #cidade="ngModel">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Bairro" [(ngModel)]="recepcionista.bairro" name="bairro" #bairro="ngModel">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CEP" [(ngModel)]="recepcionista.cep" name="cep" #cep="ngModel">
    </mat-form-field>
  </div>
  <button class="max-button" mat-raised-button type="submit" color="primary" [disabled]="!f.valid">Salvar</button>
  <button class="max-button" *ngIf="recepcionista.id" mat-raised-button type="button" (click)="excluir()" color="primary">Excluir</button>
</form>